h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Spot mono', Arial, sans-serif;
  color: hsla(207.6923076923077, 14.94%, 17.06%, 1.00);
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Spot mono', Arial, sans-serif;
  color: hsla(207.6923076923077, 14.94%, 17.06%, 1.00);
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'Spot mono', Arial, sans-serif;
  color: hsla(207.6923076923077, 14.94%, 17.06%, 1.00);
  font-size: 27px;
  line-height: 27px;
  font-weight: 300;
  text-align: center;
}

p {
  margin-bottom: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: hsla(208.23529411764707, 6.83%, 51.18%, 1.00);
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  text-align: center;
}

.link-modal-close {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1001;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  margin: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-decoration: none;
}

.styleguide {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f6f6f6));
  background-image: linear-gradient(180deg, #f6f6f6, #f6f6f6);
  text-align: center;
}

.p-lead {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #7a838b;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}

.styleguide-h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #aaa;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.styleguide-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 2%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link {
  color: #cf86ad;
  text-decoration: none;
}

.styleguide-label {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ebebeb;
  font-family: 'Open Sans', sans-serif;
  color: #bbb;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 0px;
  background-color: #d16ba1;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-large:hover {
  background-color: #0a85b3;
}

.button-large.left {
  padding-right: 16px;
}

.button-large.right {
  padding-right: 16px;
  padding-left: 16px;
}

.styleguide-h2 {
  margin-top: 0px;
  margin-bottom: 32px;
  margin-left: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #bbb;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.block-quote {
  font-family: 'Spot mono', Arial, sans-serif;
  color: #252c33;
  font-size: 27px;
  line-height: 27px;
}

.styleguide-flex-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  padding: 16px 4% 24px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.styleguide-section {
  display: inline-block;
  width: 90%;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 32px 32px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .07);
}

.styleguide-color-block {
  height: 100px;
  border-style: none;
  border-radius: 20px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#485547), to(#485547));
  background-image: linear-gradient(180deg, #485547, #485547);
}

.styleguide-color-block.color-slate-grey {
  background-color: #7a838b;
  background-image: none;
}

.styleguide-color-block.color-accent-1 {
  background-color: #cf86ad;
  background-image: none;
  color: #2a3132;
}

.styleguide-color-block.color-off-black {
  background-color: #252c33;
  background-image: none;
}

.styleguide-color-block.color-accent-2 {
  background-color: #e8d7e0;
  background-image: none;
  color: #2a3132;
}

.styleguide-color-block.color-accent-3 {
  background-color: #526576;
  background-image: none;
}

.styleguide-flex-grid-item {
  width: 20%;
  margin-right: 48px;
}

.styleguide-flex-col {
  margin-right: 2%;
  margin-left: 2%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.heading {
  color: #252c33;
}

.text-block-button {
  display: block;
  margin-top: 3px;
  margin-right: 16px;
  margin-left: 16px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text-block-button.right {
  margin-right: 24px;
}

.text-block-button.left {
  margin-left: 24px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  text-align: left;
}

.footer-links {
  padding-right: 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 15px;
}

.right-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-arrow.slider-control-right {
  width: 80px;
}

.bold-text {
  color: #252c33;
  font-weight: 500;
}

.hero-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-right: 12.5%;
  margin-left: 12.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-p {
  opacity: 0.65;
  font-family: 'Spot mono', Arial, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: left;
}

.nav-logo {
  width: auto;
  padding: 0px;
  opacity: 1;
}

.nav-logo.w--current {
  width: 72px;
}

.section-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 64px;
  padding-top: 160px;
  padding-bottom: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #252c33;
  font-size: 15px;
}

.slide-nav {
  position: static;
  display: none;
  margin-top: 32px;
  background-color: transparent;
  opacity: 0.15;
  color: #7a838b;
}

.button {
  display: block;
  margin-right: 8px;
  margin-left: 8px;
  padding: 16px 48px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 8px;
  background-color: #ff4e02;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  direction: ltr;
  font-family: 'Spot mono', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ff5d17;
  box-shadow: 0 3px 8px 0 rgba(37, 44, 51, .2);
}

.button.disabled {
  background-color: hsla(210, 6%, 47%, .3);
  cursor: default;
}

.button.disabled:hover {
  box-shadow: none;
}

.button.preview {
  background-color: #252c33;
}

.button.preview:hover {
  background-color: #3b4754;
}

.slider-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #ff4e02;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  font-family: 'Spot mono', Arial, sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}

.slider-arrow:hover {
  background-color: #ff5d17;
  box-shadow: 0 3px 8px 0 rgba(37, 44, 51, .25);
}

.project-h2 {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 40px;
}

.section-templates {
  display: block;
  width: 100%;
  margin-bottom: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-message {
  font-family: 'Spot mono', Arial, sans-serif;
  color: #7a838b;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
}

.navbar-button {
  display: block;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.navbar-button:hover {
  background-color: transparent;
}

.navbar-button.w--open {
  background-color: transparent;
}

.navbar-button.w--open:hover {
  background-color: transparent;
}

.section-icons {
  display: block;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-menu {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  display: block;
  width: 66%;
  background-color: #252c33;
}

.paragraph-span-free {
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  padding: 5px 12px 6px;
  border-radius: 4px;
  background-color: hsla(210, 5%, 84%, .4);
  color: #252c33;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.project-summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 12.5%;
  padding-top: 8px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.project-summary.featured {
  margin-right: 16.66%;
  margin-left: 16.66%;
  padding-top: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: 100%;
}

.nav-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  padding-right: 96px;
  padding-bottom: 96px;
  padding-left: 96px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-right: 16.66%;
  padding-left: 16.66%;
  background-color: rgba(37, 44, 51, .95);
}

.left-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-arrow.slider-control-left {
  width: 80px;
}

.container {
  position: static;
  display: block;
  margin-right: 14%;
  margin-left: 14%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.button-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  padding-top: 0px;
  padding-bottom: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 28px;
  background-color: #ff4e02;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  font-family: 'Spot mono', Arial, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
}

.button-close:hover {
  background-color: #ff5d17;
  box-shadow: 0 3px 8px 0 rgba(37, 44, 51, .25);
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 47%;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-width: 1px 1px 2px;
  border-color: #000 #000 hsla(210, 6%, 47%, .1);
}

.project.feature {
  width: 100%;
  padding-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.hero-text-block {
  font-family: 'Spot mono', Arial, sans-serif;
  color: #252c33;
  font-size: 32px;
  line-height: 48px;
  font-weight: 300;
  text-align: center;
}

.footer-copyright {
  width: 70%;
  font-size: 15px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none;
  border-width: 1px 1px 2px;
  border-color: #000 #000 hsla(210, 6%, 47%, .1);
  font-size: 15px;
}

.navbar-message-link {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-family: 'Spot mono', Arial, sans-serif;
  color: #ff4e02;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
}

.navbar-message-link:hover {
  color: #f85;
}

.navbar-container {
  position: static;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  height: 160px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.project-slider {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: auto;
  padding-bottom: 0px;
  border-radius: 3px;
  background-color: hsla(210, 6%, 47%, .05);
}

.section {
  display: block;
  width: 100%;
  margin-bottom: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section.section-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 44vh;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.slide {
  background-color: hsla(210, 6%, 47%, .05);
}

.paragraph {
  line-height: 32px;
}

.logo {
  height: 27px;
}

.mask {
  overflow: visible;
  border-style: none;
}

.footer-link {
  display: block;
  font-family: 'Spot mono', Arial, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.footer-link.social {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #ff4e02;
  line-height: 27px;
  text-decoration: none;
}

.footer-link.social:hover {
  border-bottom: 1px none #000;
  color: #f85;
  text-decoration: none;
}

.project-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.link-modal-close-2 {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1001;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  margin: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navbar-button-bar {
  width: 100%;
  height: 2px;
  max-height: 2px;
  min-height: 2px;
  border-radius: 1px;
  background-color: #252c33;
  color: #7a838b;
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.project-image {
  border-radius: 24px;
}

.project-image.small {
  width: 100%;
  border-radius: 3px;
}

@media (max-width: 991px) {
  p {
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 27px;
  }
  .link-modal-close {
    padding-bottom: 1px;
  }
  .p-lead {
    font-size: 24px;
    line-height: 27px;
  }
  .styleguide-color-block.color-accent-1 {
    background-color: #cf86ad;
  }
  .styleguide-color-block.color-accent-2 {
    background-color: #e8d7e0;
  }
  .navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
  }
  .hero-intro {
    margin-right: 16.66%;
    margin-left: 16.66%;
  }
  .navbar-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-bottom: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .nav-logo {
    position: static;
    z-index: 98;
    display: block;
    padding: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    opacity: 1;
  }
  .section-footer {
    margin-top: 0px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .button {
    padding-top: 12px;
    padding-bottom: 11px;
  }
  .slider-arrow {
    font-size: 44px;
  }
  .project-h2 {
    margin-top: 16px;
    font-size: 36px;
  }
  .section-templates {
    margin-bottom: 40px;
  }
  .navbar-message {
    font-family: 'Spot mono', Arial, sans-serif;
    color: #7a838b;
    font-size: 16px;
  }
  .navbar-button {
    position: static;
    z-index: 999;
    display: block;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: transparent;
    background-image: none;
    -webkit-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
    color: #252c33;
  }
  .navbar-button:hover {
    border-radius: 16px;
    background-color: transparent;
    background-image: none;
  }
  .navbar-button.w--open {
    width: 48px;
    height: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: transparent;
    background-image: none;
  }
  .nav-menu {
    position: fixed;
    left: auto;
    top: 0px;
    right: 0px;
    bottom: auto;
    z-index: 998;
    display: none;
    width: 72%;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .project-summary {
    padding-top: 8px;
    padding-bottom: 0px;
  }
  .project-summary.featured {
    padding-top: 16px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 0px;
    padding: 160px 72px 72px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .modal {
    padding-right: 8.33%;
    padding-left: 8.33%;
  }
  .container {
    margin-right: 8.16%;
    margin-left: 8.16%;
  }
  .button-close {
    font-size: 30px;
    line-height: 30px;
  }
  .project {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .project.feature {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .hero-text-block {
    font-size: 30px;
    line-height: 40px;
  }
  .navbar-message-link {
    font-family: 'Spot mono', Arial, sans-serif;
    color: #ff4e02;
    font-size: 16px;
  }
  .navbar-container {
    position: static;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 102px;
    padding: 0px 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: transparent;
  }
  .project-slider {
    height: auto;
  }
  .section.section-intro {
    min-height: 56vh;
    padding-bottom: 20px;
  }
  .navbar-button-bar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .project-image.small {
    border-radius: 3px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 21px;
    line-height: 24px;
  }
  p {
    margin-bottom: 24px;
    font-size: 14px;
    text-align: center;
  }
  .link-modal-close {
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
  }
  .p-lead {
    font-size: 17px;
    line-height: 21px;
  }
  .styleguide-flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .styleguide-flex-grid {
    padding-right: 4%;
    padding-left: 4%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .styleguide-section {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .styleguide-flex-grid-item {
    width: 100%;
    margin-right: 0px;
    padding-right: 2%;
    padding-left: 2%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .hero-intro {
    margin-right: 8.33%;
    margin-left: 8.33%;
  }
  .nav-logo {
    opacity: 1;
  }
  .section-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 4px;
    margin-left: 4px;
    padding: 12px 32px 11px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
  }
  .button.disabled {
    padding-top: 11px;
    padding-bottom: 10px;
    -webkit-transition-property: none;
    transition-property: none;
  }
  .button.disabled:hover {
    box-shadow: none;
  }
  .button.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 13px;
  }
  .slider-arrow {
    font-size: 40px;
  }
  .project-h2 {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 27px;
    line-height: 32px;
  }
  .section-templates {
    margin-bottom: 0px;
  }
  .navbar-message {
    font-family: 'Spot mono', Arial, sans-serif;
    color: #7a838b;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
  }
  .nav-menu {
    position: fixed;
    left: auto;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 80%;
    padding-left: 0px;
  }
  .project-summary {
    margin-right: 8.33%;
    margin-left: 8.33%;
    padding-top: 16px;
    padding-bottom: 48px;
  }
  .project-summary.featured {
    margin-right: 8.33%;
    margin-left: 8.33%;
    padding-top: 20px;
  }
  .nav-menu-container {
    padding: 120px 56px 48px 48px;
  }
  .modal {
    padding-right: 0%;
    padding-left: 0%;
  }
  .container {
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 32px;
    padding-left: 32px;
  }
  .button-close {
    box-shadow: 0 3px 9px 0 rgba(37, 44, 51, .25);
    font-size: 28px;
    line-height: 28px;
  }
  .project {
    width: 48%;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .project.feature {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .hero-text-block {
    font-size: 27px;
    line-height: 40px;
  }
  .navbar-message-link {
    font-family: 'Spot mono', Arial, sans-serif;
    color: #ff4e02;
    font-size: 15px;
    text-align: left;
  }
  .navbar-container {
    height: 100px;
    background-image: none;
  }
  .project-slider {
    position: relative;
    border-style: none;
    border-radius: 2px;
  }
  .section.section-intro {
    min-height: 56vh;
    padding-bottom: 20px;
  }
  .slide {
    position: relative;
  }
  .logo {
    height: 24px;
  }
  .link-modal-close-2 {
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
  }
  .projects {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .project-image.small {
    border-radius: 2px;
  }
}

@media (max-width: 479px) {
  h3 {
    margin-top: 0px;
    font-size: 18px;
    line-height: 21px;
  }
  p {
    padding-right: 4.16%;
    padding-left: 4.16%;
    font-size: 14px;
  }
  .p-lead {
    font-size: 17px;
    line-height: 21px;
  }
  .styleguide-flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .styleguide-section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-2 {
    padding-right: 6.66%;
    padding-left: 6.66%;
  }
  .navbar {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-links {
    padding-right: 4.16%;
    padding-left: 4.16%;
  }
  .hero-intro {
    margin-right: 8.33%;
    margin-left: 8.33%;
  }
  .navbar-button-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .footer-p {
    width: 100%;
    margin-bottom: 0px;
  }
  .nav-logo {
    opacity: 1;
  }
  .section-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .button {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    letter-spacing: 2px;
  }
  .button:hover {
    background-color: #d84100;
  }
  .button.disabled:hover {
    background-color: hsla(210, 6%, 47%, .3);
  }
  .button.preview {
    margin-right: 8px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .slider-arrow {
    font-size: 36px;
  }
  .project-h2 {
    margin: 2px 6.66% 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .section-templates {
    padding-bottom: 40px;
  }
  .navbar-message {
    font-family: 'Spot mono', Arial, sans-serif;
    color: #8e99a3;
    line-height: 24px;
    text-align: left;
  }
  .navbar-button {
    display: block;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-image: none;
    -webkit-transition-property: none;
    transition-property: none;
  }
  .navbar-button.w--open {
    display: block;
    width: 48px;
    height: 40px;
    padding: 16px 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .nav-menu {
    position: fixed;
    left: auto;
    top: 80px;
    right: 0px;
    bottom: auto;
    width: 80%;
    height: 100vh;
    margin-right: 0px;
    padding: 0px;
  }
  .project-summary {
    margin-right: 8.33%;
    margin-left: 8.33%;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .project-summary.featured {
    margin-right: 0%;
    margin-left: 0%;
    padding-top: 20px;
  }
  .nav-menu-container {
    width: 100%;
    margin-top: 0px;
    padding: 96px 40px 48px;
  }
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .button-close {
    font-size: 28px;
    line-height: 28px;
  }
  .project {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .project.feature {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .hero-text-block {
    font-size: 21px;
    line-height: 32px;
  }
  .footer-copyright {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-message-link {
    font-family: 'Spot mono', Arial, sans-serif;
    color: #ff4e02;
    font-size: 15px;
  }
  .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 66px;
    padding: 0px 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .project-slider {
    width: auto;
    height: auto;
    border-radius: 2px;
  }
  .section.section-intro {
    min-height: 44vh;
    padding-bottom: 0px;
  }
  .logo {
    height: 24px;
  }
  .project-links {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navbar-button-bar {
    width: 100%;
    height: 2px;
    max-height: 2px;
    padding: 0px;
  }
  .project-image.small {
    border-radius: 2px;
  }
}

@font-face {
  font-family: 'Spot mono';
  src: url('../fonts/spot-mono-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Spot mono';
  src: url('../fonts/spot-mono-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Spot mono';
  src: url('../fonts/spot-mono-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Spot mono';
  src: url('../fonts/spot-mono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}